<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.soletluna.amazepicture"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- SELECT IMAGE -->
        <activity
            android:name=".activities.SelectImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- IMAGE ADJUSTMENTS -->
        <activity
            android:name=".activities.ImageAdjustmentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SelectImageActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <!-- TEXT EDITOR -->
        <activity
            android:name=".activities.TextEditorActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SelectImageActivity"/>
        </activity>
    </application>

</manifest>
